################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Classes/obj/
/Classes/bin/
/Constructors/bin/
/Constructors/obj/
/ObjectInitializers/bin/
/ObjectInitializers/obj/
/Methods/bin/
/Methods/obj/
/Fields/obj/
/Fields/bin/
/AccessModifier/bin/
/AccessModifier/obj/
/Properties/bin/
/Properties/obj/
/Indexers/bin/
/Indexers/obj/
/Inheritance/bin/
/Inheritance/obj/
/Composition/bin/
/Composition/obj/
/Amazon/bin/
/Amazon/obj/
/InheritanceAccessModifiers/bin/
/InheritanceAccessModifiers/obj/
/ConstructorsAndInheritance/bin/
/ConstructorsAndInheritance/obj/
/UpcastingAndDowncasting/bin/
/UpcastingAndDowncasting/obj/
/WpfApp1/bin/
/WpfApp1/obj/
/BoxingAndUnboxing/bin/
/BoxingAndUnboxing/obj/
/MethodOverriding/bin/
/MethodOverriding/obj/
/AbstractClassesAndMembers/bin/
/AbstractClassesAndMembers/obj/
/SealedClassesAndMembers/bin/
/SealedClassesAndMembers/obj/
/InterfacesAndTestability/bin/
/InterfacesAndTestability/obj/
/TestabilityUnitTests/obj/
/TestabilityUnitTests/bin/
/packages/
