################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Classes/obj/
/Classes/bin/
/Constructors/bin/
/Constructors/obj/
/ObjectInitializers/bin/
/ObjectInitializers/obj/
/Methods/bin/
/Methods/obj/
/Fields/obj/
/Fields/bin/
/AccessModifier/bin/
/AccessModifier/obj/
/Properties/bin/
/Properties/obj/
