################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Classes/obj/
/Classes/bin/
/Constructors/bin/
/Constructors/obj/
/ObjectInitializers/bin/
/ObjectInitializers/obj/
